/* General */
* {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background-color: #F2A340;
  border: 2px solid #C28008;
}

.btn-primary:hover {
  background-color: #C28008;
  border-color: #C28008;
}

/* navbar */
#navbar img {
  width: 40px;
}

#navbar {
  justify-content: space-between;
  background-color: #FFF;
  padding: 5px 0;
}

#navbar a {
  font-size: 14px;
  color: #757575;
}

#navbar a:hover {
  color: #F2A340;
}

/* Search Container */
#search-container {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 50px;
  text-align: center;
}

#search-container h1 {
  color: #F2A340;
  margin-bottom: 30px;
  font-weight: 900;
}

#search-container form {
  width: 50%;
  margin: 0 auto;
}

/* Events list */
#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
}

#events-container .card {
  flex: 1 1 0;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: 5px;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #CCC;
}

.card .card-title {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants {
  font-size: 14px;
  color: #757575;
}

/* Event create page */
#event-create-container {
  padding: 30px
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;
}

/* footer */
footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}